@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.main-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    .main-cont-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .content {
            font-size: 5rem;
            padding: 20px;
            font-family: 'Anton', sans-serif;
            color: white;
            letter-spacing:10px;
        }

        h4 {
            letter-spacing: 2px;
        }
    }



}

.btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

